@{
    ViewBag.Title = "Author Contact";
}

<div class="container">
    <div class="heading">
        <h2>Get In Touch</h2>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Contact details</h4>
        <p>Address: Bartolache #1731 Col. Del Valle Sur</p>
        <p>Phone: +55 43 71 29 24</p>
        <p>Mail: <a href="mailto:antonio@aacosta.com.mx">antonio@aacosta.com.mx</a></p>
        <p>Website: <a href="http://aacosta.com.mx/">aacosta.com.mx</a></p>
    </div>
</div>