@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1><strong>Linko</strong> Test</h1>
        <p>Catálogo de libros utilizando MVC, Entity Framework y Windows Azure.</p>
        <p><a href="/Libros" class="btn btn-primary btn-lg">Comenzar</a></p>
    </div>
</div>